//=== Mixins ===

//=== Mixins ===


//=== Variables ===
$color-style: #FF8126;
$width-max: 1280px;
//=== Variables ===


//=== Classes for different===
.wrapper{
    max-width: 1170px;
    margin: 0 auto;

}

.sp-color{
    color: $color-style;
}

.sp-color-d{
    text-decoration: line-through;
    color: #656565;
}
//=== Classes for different===


//=== Header ===
.green-shit{
display: flex;
justify-content: center;
padding: 15px;
background: #C2E8CE;
&_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;

}
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    }
.header-mainnav-list{
    display: flex;
    gap: 70px;
    list-style-type: none;
    &_item{
        &__link{
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #1F1F1F;
        }

    }
   
} 


    .header-navgroup{
        display: flex;
        gap: 25px;
    }
   .header-nav{
    display: flex;
    align-self: center;   
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #BFBFBF;
    padding: 25px;
}
    

  


 


//=== Header ===


//=== Brands ===

//=== Brands ===


//=== Lasted-of ===
.lasted-of{
    max-width: $width-max;
    max-height: 412px;
    margin: 80px 0 80px 0;
    margin: 0 auto;
    &__items{
        &-text{
            width: 206px;
            height: 40px;
            font-weight: bold;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            width: 100%;
        }
        &-wr{
            display: flex;
            text-align: center;
            .item-card{
                width: 270px;
                height: 332px;
                background-color: #F7F5F0;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                margin-right: 30px;
                &:hover {
                    background-color: #e4e2dee7;
                }
                // &-photo{}
                &__info{
                    &-heading{
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 27px;
                        text-align: center;
                    }
                    &-price{
                        text-align: center;
                    }
                    &-btn{
                        background-color: $color-style;
                        color: #F7F5F0;
                        width: 230px;
                        height: 40px;
                        border-radius: 3px;
                        border-color: rgb(255, 153, 0);
                        text-transform: uppercase;
                        //margin-left: 20px;
                        //margin-bottom: 20px;
                    }
                }
            }
        
            
        }
    }
}


//=== Lasted-of ===


//=== Why-us ===

//=== Why-us ===


//=== Who-makes ===

//=== Who-makes ===


//=== Surprice-exotic ===

//=== Surprice-exotic ===


//=== Slider-photos ===

//=== Slider-photos ===


//=== We-in-social ===

//=== We-in-social ===


//=== Footer ===

//=== Footer ===

p{
    box-sizing: border-box;
}


