ul, a {
  list-style-type: none;
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.sp-color {
  color: #FF8126;
}

.sp-color-d {
  text-decoration: line-through;
  color: #656565;
}

.green-shit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background: #C2E8CE;
}

.green-shit_text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #1F1F1F;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header-mainnav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  list-style-type: none;
}

.header-mainnav-list_item__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1F1F1F;
}

.header-navgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background: #FFFFFF;
  border-radius: 50px;
  border: 1px solid #BFBFBF;
  padding: 25px;
}

.navgroup-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.categories {
  display: block;
  cursor: pointer;
}

#border {
  border-left: 4px solid #ff8126;
  border-bottom: 1px solid #EBEBEB;
}

.cotegories-dropdown-content {
  position: absolute;
  left: 370;
  z-index: 100;
  background-color: white;
  padding: 10px;
}

.dropdown-content {
  padding: 0;
}

.dropdown-subcotegories_title {
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  margin: 0 0 10px 0;
}

.dropdown-subcotegories-list {
  padding: 10px 20px 10px 40px;
}

.dropdown-subcotegories-list_item {
  padding-bottom: 10px;
}

.promo {
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 700px;
  background-image: url(/img1p/cheese-promo.jpg);
}

.heading {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: wheat;
}

.sub-heading {
  font-weight: 300;
  font-size: 26px;
  line-height: 39px;
  color: wheat;
}

.lasted-of {
  max-width: 1280px;
  max-height: 412px;
  margin: 80px 0 80px 0;
  margin: 0 auto;
}

.lasted-of__text {
  width: 206px;
  height: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  width: 100%;
}

.lasted-of__wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.lasted-of__item {
  width: 270px;
  height: 332px;
  background-color: #F7F5F0;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.lasted-of__heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.lasted-of__price {
  text-align: center;
}

.lasted-off__btn__add {
  background-color: #FF8126;
  color: #F7F5F0;
  width: 230px;
  height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
}

p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */