body{
    color: aqua;
}
h1{
    font-size: 30px;
    color: blueviolet;
    font-weight: 400;
}

p{
    box-sizing: border-box;
}
.command{
    color: bisque;
}
.container{
    max-width: max-content;
}