//=== Mixins ===
@mixin undoUlLiStyle {
    list-style-type: none;
    text-decoration: none;
    
}

ul,a{
    @include  undoUlLiStyle; 
}
//=== Mixins ===


//=== Variables ===
$color-span: #FF8126;
$width-max: 1280px;
$main-color: rgba(255, 129, 38, 1);

//=== Variables ===


//=== Classes for different===
.wrapper{
    max-width: 1170px;
    margin: 0 auto;

}

.sp-color{
    color: $color-span;
}

.sp-color-d{
    text-decoration: line-through;
    color: #656565;
}
//=== Classes for different===


//=== Header ===
.green-shit{
display: flex;
justify-content: center;
padding: 15px;
background: #C2E8CE;
&_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;

}
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    }
.header-mainnav-list{
    display: flex;
    gap: 70px;
    list-style-type: none;
    &_item{
        &__link{
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #1F1F1F;
        }

    }
   
} 


    .header-navgroup{
        display: flex;
        gap: 25px;
    }
   .header-nav{
    display: flex;
    align-self: center;   
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid #BFBFBF;
    padding: 25px;
}
.navgroup-list{
    display: flex;
    gap: 70px;
}
.categories{
    display: block;
    cursor: pointer;
  
}
#border{
    border-left: 4px solid $main-color;
    border-bottom: 1px solid #EBEBEB;
}
.cotegories-dropdown-content{
    // width: 150px;
   
    position: absolute;
    left: 370;
    z-index: 100;
    background-color: white;
    padding: 10px;
}
.dropdown-content{
    padding: 0;
}
.dropdown-subcotegories_title{
    gap: 5px;
    display: flex;
    padding: 10px 10px;
    margin: 0 0 10px 0;
 
}
.dropdown-subcotegories-list{
    padding: 10px 20px 10px 40px;
    &_item{
        padding-bottom: 10px;
    }
}





 


//=== Header ===


//=== Brands ===
.promo{
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    background-image:url(/img1p/cheese-promo.jpg);
  
}
.heading{
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: wheat;
}
.sub-heading{
    font-weight: 300;
    font-size: 26px;
    line-height: 39px;
    color: wheat;
}
//=== Brands ===


//=== Lasted-of ===
.lasted-of{
    max-width: $width-max;
    max-height: 412px;
    margin: 80px 0 80px 0;
    margin: 0 auto;
}

// .lasted-of__items{
    
// }
.lasted-of__text{
    width: 206px;
    height: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    width: 100%;
}
.lasted-of__wr{
    display: flex;
    text-align: center;
}
.lasted-of__item{
    width: 270px;
    height: 332px;
    background-color: #F7F5F0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.lasted-of__heading{
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}

.lasted-of__price{
    text-align: center;
}

.lasted-off__btn__add{
    background-color: #FF8126;
    color: #F7F5F0;
    width: 230px;
    height: 40px;
    border-radius: 3px;
    text-transform: uppercase;
    //margin-left: 20px;
    //margin-bottom: 20px;
}


.swiper {
    width: 100%;
    padding-top: 500px;
    padding-bottom: 500px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 270px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

//=== Lasted-of ===


//=== Why-us ===

//=== Why-us ===


//=== Who-makes ===

//=== Who-makes ===


//=== Surprice-exotic ===

//=== Surprice-exotic ===


//=== Slider-photos ===

//=== Slider-photos ===


//=== We-in-social ===
.we-in-social{
    margin-top: 50px;
    background: rgba(255, 129, 38, 0.08);
}
.social{
    padding: 50px 0 50px;
}
.social-text{
    display: flex;
    justify-content: center;
}
//=== We-in-social ===


//=== Footer ===

//=== Footer ===

p{
    box-sizing: border-box;
}


